.categories
	padding-bottom 80px
	.categories__item
		margin-bottom 30px
		height 260px
		display flex
		justify-content flex-end
		flex-direction column
		background-size auto
		background-repeat no-repeat
		background-position center center
		border-radius 20px
		.item__footer
			width 100%
			padding-bottom 30px
			padding 0 35px 30px 35px
		.item__ico
			max-width 22px
			display inline-block
			margin-bottom 10px
		.text-head
			display block
			font-size 30px
			color #ffffff
			line-height 1
			margin-bottom 0
		&.categories__item_red
			background-color #E51B4F
		&.categories__item_black
			background-color #292929
		&.categories__item_orange
			background-color #E5701B
		&.categories__item_green
			background-color #2BB14A
		&.categories__item_blue
			background-color #2B73B1
		&.categories__item_berry
			background-color #B12B2B
		&.categories__item_gray
			background-color #C1C1C1
		&.categories__item_pink
			background-color #9E1EE2
		&:hover, &:active
			box-shadow 0 0 20px rgba(0,0,0,0.3)
			text-decoration none