@import '~/public/fonts/fonts.css'
@import 'partials/switch.css'
@import 'partials/checkbox.css'

@import 'modals/modal-order.styl'

@import 'partials/header.styl'
@import 'partials/footer.styl'
@import 'partials/btns.styl'
@import 'partials/breadcrumb.styl'
@import 'partials/navbars.styl'

@import 'general/slider.styl'
@import 'general/categories.styl'
@import 'general/banner.styl'
@import 'general/news.styl'
@import 'general/products.styl'

@import 'product/product.styl'

@import 'question/question.styl'

@import 'contact/contact.styl'

@import 'cart/cart.styl'
@import 'cart/order.styl'

body
	font-family 'Mont'
	background-color #ffffff !important
	
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration
	display none

.owl-theme .owl-dots .owl-dot
	outline none !important
.owl-theme .owl-dots .owl-dot span
	border 1px solid #E51B4F !important
	background transparent !important
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span
	background #E51B4F !important

@import 'media.styl'