@media (min-width: 1200px) {
	.container, .container-lg, .container-md, .container-sm, .container-xl {
	    max-width: 1400px;
	}
}
@media (max-width: 1200px) {
	.header .navbar .navbar-brand {
	    width 80px
	    margin-right 15px
	}
	.header .navbar .navbar-nav .nav-item .nav-link {
	    font-weight bold
	    padding 0
	    font-size 11px
	}
	.header .form-inline .form-control {
		max-width 160px
		font-size 12px
	}
	.header .form-inline .btn-search {
	    width 18px
	    top 16px
	    right 8px
    }
	
	.slider .slider-wrap .btn:first-of-type {
		margin-right 0
		margin-bottom 15px
	}
	
	.cart .cart-steps h3 {
		font-size 15px
	}
	.cart .cart-promocode .promocode {
		width 240px
	}
	.cart .cart-promocode .promocode .promocode-input {
		width 25px
		height 25px
		line-height 25px
		font-size 14px
	}
	.footer .footer__item .col-sm-6 {
		flex 0 0 50%
		max-width 50%
	}
}

@media only screen and (max-width: 1024px) {
	.header .navbar .navbar-nav,
	.navbar-collapse {
		text-align center
	}
	.header .navbar .navbar-nav .nav-item,
	.header .form-inline {
		display inline-block
	}
	.header .form-inline,
	.header .form-inline .form-control {
		max-width 300px
		width 300px
	}
	.header .navbar .navbar-nav .nav-item .nav-link {
		display inline-block
		margin-bottom 15px
		position relative
	}
	.header .navbar .navbar-nav .nav-item:not(.dropdown) .nav-link:after {
		left 50%
		margin-left -11.5px
	}
	
	.categories {
		padding-bottom 40px
	}
	.categories .categories__item {
		height 200px
	}
	.categories .categories__item .text-head {
		font-size 18px
	}
	.categories .categories__item .item__footer {
		padding 0 15px 30px 15px
	}
	.col-sm-4 {
	    flex 0 0 33.3333333333%
	    max-width 33.3333333333%
	}
	
	.products .products__item .products__item-head {
		height 180px
	}
	.products .products__item .products__item-body .text-head,
	.products .products__item .products__item-foot .price_regular {
		font-size 18px
	}
	.products .products__item .products__item-body .text,
	.products .products__item .products__item-body .text-category {
		font-size 12px
	}
	.products .products__item .btn {
		padding 13px 13px
		font-size 12px
	}
	
	.banner .h2 {
		margin-top 25px
		font-size 40px
		line-height 44px
	}
	.banner .banner__img {
		position relative
		margin-top 0
		max-width 100%
	}
	.banner .h3 {
		font-size 40px
	}
	.banner .banner__promo, .banner .banner__promo a {
		font-size 18px
		line-height 24px
	}

	.news .col-sm-4,
	.products .col-sm-4 {
		flex 0 0 50%
		max-width 50%
	}
	.news .news__item-head {
		height 220px
	}
	
	.cart .cart-row {
		margin 0
		width 100%
		display table
	}
	.cart .col-md-8 {
		display block
		padding-right 15px
		flex 0 0 100%
		max-width 100%
		margin-top 40px
	}
	.cart .col-md-4 {
		display table-header-group
	}
	.cart .cart-promocode {
		margin-top 30px
	}
	.cart .cart-promocode .h4 {
		text-align center
	}
	.cart .cart-promocode .promocode {
		margin: 0 auto
		left auto
	}
	.cart .cart-promocode .promocode-text {
		margin-top 30px
		text-align center
	}
	.cart .cart-info {
		padding 30px 20px
	}
	.cart .cart-order-row {
		justify-content center
	}
	.cart .cart-order-row .col-sm-6 {
		flex 0 0 50%
		max-width 50%
	}
	
	.footer .footer__item .row {
		justify-content center
	}
	.footer .footer__item-center {
		display none
	}
	.footer .footer__item {
		flex 0 0 100%
		max-width 100%
	}
	.footer .text-head,
	.footer .footer__link,
	.col-sm-6-last {
		text-align center
	}
	.footer .footer__item .col-sm-6-last {
		flex 0 0 100%
		max-width 100%
	}
}

@media only screen and (max-width: 767px) {
	.slider .slider-wrap .img-slider {
		margin-top 30px
	}
	
	.news .col-sm-4,
	.products .col-sm-4 {
		flex 0 0 100%
		max-width 100%
	}
	
	.cart .table-cart-footer .btn-primary {
		padding 18px 15px
		font-size 12px
	}
	.cart .cart-wrap {
		margin-bottom 50px
	}
	.cart .cart-order-row .col-sm-6 {
		flex 0 0 100%
		max-width 100%
	}
	.cart .order-wrap .col {
		margin-bottom 20px
		flex 0 0 100%
		max-width 100%
	}
	
	.footer {
		padding-top 0
	}
	.footer .footer__link {
		font-size 12px
	}
	.footer .footer__item .col-sm-6 {
		margin-bottom 30px
	}
}