.product
	.flex-row
		display flex
	.product-slider_left
		flex 0 0 190px
		max-width 190px
		padding-right 20px
		height 568px
		overflow-x auto
		flex-direction column
		flex-wrap wrap
		flex-flow row wrap
		position relative
		.item
			margin-bottom 20px
			padding 10px
			border-radius 30px
			border 2px solid #E51B4F
			height 170px
			display flex
			width 170px
			align-items center
			justify-content center
	.product-slider_right
		border-radius 30px
		background-color #F8F8F8
		padding 50px 30px
		display flex
		align-items center
		justify-content center