@import url(/public/fonts/fonts.css);.form-switch {
  display: inline-block;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.form-switch i {
  position: relative;
  display: inline-block;
  margin-right: .5rem;
  width: 46px;
  height: 26px;
  background-color: #e6e6e6;
  border-radius: 23px;
  vertical-align: text-bottom;
  transition: all 0.3s linear;
}

.form-switch i::before {
  content: "";
  position: absolute;
  left: 0;
  width: 42px;
  height: 22px;
  background-color: #fff;
  border-radius: 11px;
  transform: translate3d(2px, 2px, 0) scale3d(1, 1, 1);
  transition: all 0.25s linear;
}

.form-switch i::after {
  content: "";
  position: absolute;
  left: 0;
  width: 22px;
  height: 22px;
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
  transform: translate3d(2px, 2px, 0);
  transition: all 0.2s ease-in-out;
}

.form-switch:active i::after {
  width: 28px;
  transform: translate3d(2px, 2px, 0);
}

.form-switch:active input:checked + i::after { transform: translate3d(16px, 2px, 0); }

.form-switch input { display: none; }

.form-switch input:checked + i { background-color: #4BD763; }

.form-switch input:checked + i::before { transform: translate3d(18px, 2px, 0) scale3d(0, 0, 0); }

.form-switch input:checked + i::after { transform: translate3d(22px, 2px, 0); }.custom-control-input:checked ~ .custom-control-label::before {
	border-color: #e51b4f;
    background-color: #e51b4f;
}
.custom-radio .custom-control-input:checked ~ .custom-control-label::after {
    background: #e51b4f;
    border-radius: 50%;
}#modal-order .modal-dialog {
  max-width: 850px;
}
#modal-order .modal-content {
  padding: 60px;
  border-radius: 40px;
}
#modal-order .modal-content .text-head {
  font-size: 40px;
  color: #292929;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 30px;
  text-align: center;
}
#modal-order .modal-content .text {
  font-size: 21px;
  color: #292929;
  font-weight: 400;
  line-height: 1.3;
}
#modal-order .modal-content .text b {
  font-weight: bold;
}
.header {
  background-color: #fff !important;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.header .navbar {
  padding: 27px 15px;
  background-color: #fff !important;
}
.header .navbar .navbar-brand {
  width: 100px;
  margin-right: 40px;
}
.header .navbar .navbar-nav .nav-item {
  display: inline-block;
  padding: 0 15px;
  position: relative;
}
.header .navbar .navbar-nav .nav-item .nav-link {
  font-weight: bold;
  padding: 0;
}
.header .navbar .navbar-nav .nav-item .nav-link.nav-link_red:after {
  background-color: #e51b4f;
}
.header .navbar .navbar-nav .nav-item .nav-link.nav-link_blue:after {
  background-color: #1b2be5;
}
.header .navbar .navbar-nav .nav-item .nav-link.nav-link_cart {
  position: relative;
  font-size: 24px;
  color: #292929;
  line-height: 1;
}
.header .navbar .navbar-nav .nav-item .nav-link.nav-link_cart span {
  padding: 3px 5px;
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #e51b4f;
  font-size: 10px;
  color: #fff;
  border-radius: 5px;
}
.header .navbar .navbar-nav .nav-item:not(.dropdown) .nav-link:after {
  position: absolute;
  content: '';
  display: block;
  width: 23px;
  height: 5px;
  border-radius: 3px;
  left: 15px;
  bottom: -8px;
}
.header .form-inline {
  position: relative;
  display: block;
}
.header .form-inline .form-control {
  border: none;
  width: 330px;
  background-color: #f8f8f8;
  border-radius: 23px;
  line-height: 46px;
  padding-left: 25px;
  color: #2c2c2c;
  box-shadow: none;
}
.header .form-inline .btn-search {
  position: absolute;
  top: 19px;
  margin-top: -12px;
  right: 14px;
  padding: 0;
  border: none;
  background-color: transparent;
}
.form-inline::-webkit-input-placeholder {
  color: #c3c3c3;
}
.form-inline::-moz-placeholder {
  color: #c3c3c3;
}
.form-inline:-moz-placeholder {
  color: #c3c3c3;
}
.form-inline:-ms-input-placeholder {
  color: #c3c3c3;
}
.footer {
  padding-top: 70px;
  padding-bottom: 30px;
}
.footer .footer__item {
  flex: 0 0 45%;
  max-width: 45%;
  text-align: center;
}
.footer .footer__item .row {
  text-align: left;
}
.footer .footer__brand {
  text-align: center;
}
.footer .footer__brand img {
  margin-top: 40px;
  display: inline-block;
  width: 96px;
  height: auto;
}
.footer .text-head {
  color: #797979;
  font-size: 15px;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 25px;
  text-align: left;
}
.footer .footer__link {
  display: block;
  color: #292929;
  font-size: 15px;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 10px;
  text-align: left;
}
.footer .footer__link-social {
  width: 22px;
  height: 22px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px;
}
.developed {
  padding-bottom: 20px;
  padding-right: 10px;
}
.developed .developed__link {
  display: inline-block;
  font-size: 12px;
  color: #aaa;
}
.btn {
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0px;
  color: #292929;
  border-radius: 43px;
  padding: 13px 36px;
  transition: all 0.3s ease-in-out;
}
.btn.btn-red,
.btn.btn-primary {
  background-color: #e51b4f;
  border: 2px #e51b4f solid;
  color: #fff;
}
.btn.btn-red:hover,
.btn.btn-primary:hover,
.btn.btn-red:active,
.btn.btn-primary:active {
  background-color: transparent;
  color: #292929;
}
.btn.btn-white {
  background-color: #fff;
  border: 2px #fff solid;
  color: #e51b4f;
}
.btn.btn-white:hover,
.btn.btn-white:active {
  background-color: transparent;
  color: #fff;
}
.btn.btn-red_outline {
  background-color: transparent;
  border: 2px #e51b4f solid;
  color: #292929;
}
.btn.btn-red_outline:hover,
.btn.btn-red_outline:active {
  background-color: #e51b4f;
  color: #fff;
}
.breadcrumb {
  background-color: transparent;
  padding-top: 50px;
  padding-bottom: 50px;
}
.breadcrumb .breadcrumb-item {
  padding-left: 0;
  align-items: center;
}
.breadcrumb .breadcrumb-item a {
  font-size: 15px;
  color: #292929;
  line-height: 1;
}
.breadcrumb .breadcrumb-item a .fa {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  margin-right: 10px;
}
.breadcrumb .breadcrumb-item+.breadcrumb-item::before {
  display: none;
}
.categories-navbar {
  padding-bottom: 40px;
}
.categories-navbar .categories__item {
  margin-bottom: 10px;
  padding: 8px 5px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
}
.slider {
  padding-top: 40px;
  padding-bottom: 40px;
}
.slider .slider-wrap,
.slider .info-wrap {
  background-color: #f8f8f8;
  border-radius: 40px;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.098);
}
.slider .slider-wrap {
  padding: 70px 40px 20px 40px;
}
.slider .slider-wrap .img-slider {
  display: inline-block;
  width: auto;
  max-height: 220px;
}
.slider .slider-wrap .h2 {
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 36px;
  line-height: 40px;
  color: #292929;
}
.slider .slider-wrap .h2 strong,
.slider .slider-wrap .h2 b {
  font-weight: bold;
  color: #e51b4f;
}
.slider .slider-wrap .text {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 20px;
  color: #292929;
}
.slider .slider-wrap .text strong,
.slider .slider-wrap .text b {
  font-weight: bold;
}
.slider .slider-wrap .btn:first-of-type {
  margin-right: 30px;
}
.slider .slider-wrap .owl-dots {
  margin-top: 30px !important;
}
.slider .info-wrap {
  padding: 25px 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.slider .info-wrap .img-fluid {
  width: 128px;
  height: 128px;
  border: 3px solid #ffbe0f;
  border-radius: 50%;
}
.slider .info-wrap .text-head {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 20px;
  color: #292929;
  text-align: center;
}
.slider .info-wrap .text {
  line-height: 1;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  color: #292929;
  text-align: left;
}
.slider .info-wrap .text span {
  color: #e51b4f;
}
.slider .info-wrap .btn {
  width: auto;
  margin-top: 25px;
  display: inline-block;
}
.categories {
  padding-bottom: 80px;
}
.categories .categories__item {
  margin-bottom: 30px;
  height: 260px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 20px;
}
.categories .categories__item .item__footer {
  width: 100%;
  padding-bottom: 30px;
  padding: 0 35px 30px 35px;
}
.categories .categories__item .item__ico {
  max-width: 22px;
  display: inline-block;
  margin-bottom: 10px;
}
.categories .categories__item .text-head {
  display: block;
  font-size: 30px;
  color: #fff;
  line-height: 1;
  margin-bottom: 0;
}
.categories .categories__item.categories__item_red {
  background-color: #e51b4f;
}
.categories .categories__item.categories__item_black {
  background-color: #292929;
}
.categories .categories__item.categories__item_orange {
  background-color: #e5701b;
}
.categories .categories__item.categories__item_green {
  background-color: #2bb14a;
}
.categories .categories__item.categories__item_blue {
  background-color: #2b73b1;
}
.categories .categories__item.categories__item_berry {
  background-color: #b12b2b;
}
.categories .categories__item.categories__item_gray {
  background-color: #c1c1c1;
}
.categories .categories__item.categories__item_pink {
  background-color: #9e1ee2;
}
.categories .categories__item:hover,
.categories .categories__item:active {
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
  text-decoration: none;
}
.banner {
  padding: 50px 0;
}
.banner .col-sm-6 {
  position: relative;
}
.banner .banner__img {
  position: absolute;
  top: 40px;
  right: 0;
}
.banner .banner__wrap {
  background-color: #e51b4f;
  border-radius: 20px;
  margin-left: 0;
  margin-right: 0;
  padding: 40px 30px 50px 50px;
}
.banner .h2 {
  font-size: 77px;
  color: #fff;
  text-transform: uppercase;
  line-height: 89px;
  font-weight: 900;
}
.banner .h3 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 55px;
  color: #fff;
  line-height: 64px;
  font-weight: bold;
}
.banner .banner__promo,
.banner .banner__promo a {
  display: block;
  margin-bottom: 30px;
  font-size: 24px;
  color: #fff;
  line-height: 30px;
  font-weight: 400;
}
.banner .banner__promo span,
.banner .banner__promo a span {
  width: 100%;
}
.banner .banner__promo b,
.banner .banner__promo a b {
  font-weight: bold;
}
.banner .banner__promo a,
.banner .banner__promo a a {
  display: inline-block;
  position: relative;
}
.banner .banner__promo a:before,
.banner .banner__promo a a:before {
  content: '';
  left: 0;
  width: 100%;
  display: block;
  position: absolute;
  bottom: 1px;
  height: 1px;
  background-color: rgba(255,255,255,0.7);
}
.banner .banner__promo a:hover,
.banner .banner__promo a a:hover,
.banner .banner__promo a:active,
.banner .banner__promo a a:active {
  text-decoration: none;
}
.banner .banner__promo a:hover:before,
.banner .banner__promo a a:hover:before,
.banner .banner__promo a:active:before,
.banner .banner__promo a a:active:before {
  display: none;
}
.banner .btn-wrap {
  text-align: right;
}
.news {
  padding-bottom: 30px;
}
.news .h2 {
  font-size: 32px;
  line-height: 1;
  color: #292929;
  margin-bottom: 50px;
  font-weight: bold;
}
.news .h2 span {
  color: #e51b4f;
}
.news .news__item {
  margin-bottom: 50px;
}
.news .news__item-head {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 190px;
  border-radius: 20px;
}
.news .news__item-body {
  padding-top: 15px;
}
.news .news__item-body .date {
  margin-top: 20px;
  font-size: 15px;
  color: #292929;
  margin-bottom: 15px;
  line-height: 1;
}
.news .news__item-body .text-head {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.3;
  color: #292929;
}
.news .news__item-body .text {
  margin-bottom: 10px;
  font-size: 14px;
  color: #292929;
  line-height: 1.3;
}
.news .news__item-body .link {
  font-weight: bold;
  font-size: 18px;
  display: inline-block;
  background: linear-gradient(to bottom, #d821d1 0%, #e51b4f 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.news .news__item-body .link .fa {
  display: inline-block;
  vertical-align: middle;
}
.products {
  padding-bottom: 30px;
}
.products .h2 {
  font-size: 32px;
  line-height: 1;
  color: #292929;
  margin-bottom: 50px;
  font-weight: bold;
}
.products .h2 span {
  color: #e51b4f;
}
.products .products__item {
  box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
  border-radius: 20px;
  margin-bottom: 30px;
}
.products .products__item .products__item-head {
  padding-top: 15px;
  padding-bottom: 10px;
  height: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.products .products__item .products__item-head .products__img {
  max-height: 100%;
}
.products .products__item .products__item-head .hot-ico {
  position: absolute;
  top: 20px;
  right: 30px;
  width: 27px;
  height: 36px;
}
.products .products__item .products__item-head .news-ico {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #e51b4f;
  border-radius: 8px;
  padding: 10px 20px;
  color: #fff;
  display: inline-block;
  font-size: 15px;
  line-height: 1;
}
.products .products__item .products__item-body {
  padding: 20px 15px 20px 15px;
}
.products .products__item .products__item-body .text-category {
  font-size: 15px;
  color: #292929;
  margin-bottom: 5px;
  line-height: 1;
}
.products .products__item .products__item-body .text-head {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.3;
  color: #292929;
}
.products .products__item .products__item-body .text {
  margin-bottom: 0;
  font-size: 14px;
  color: #292929;
  line-height: 1.3;
}
.products .products__item .products__item-foot {
  padding: 0 15px 20px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.products .products__item .products__item-foot .price_strike {
  line-height: 1;
  font-size: 11px;
  font-weight: bold;
  color: #292929;
  margin-bottom: 0;
  text-decoration: line-through;
}
.products .products__item .products__item-foot .price_regular {
  font-size: 24px;
  line-height: 1;
  font-weight: bold;
  color: #292929;
  margin-bottom: 0;
}
.products.products_popular {
  padding-top: 70px;
}
.products.products_popular .product__item {
  display: flex;
  padding: 35px 20px;
  border: 2px solid #e8e8e8;
  border-radius: 20px;
  align-items: center;
}
.products.products_popular .product__item .product__img {
  max-height: 100%;
}
.products.products_popular .product__item .item_left {
  flex: 0 0 35%;
  max-width: 35%;
  padding-right: 30px;
}
.products.products_popular .product__item .item_right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.products.products_popular .product__item .text-head {
  font-size: 16px;
  color: #292929;
  font-weight: bold;
  margin-bottom: 25px;
}
.products.products_popular .product__item .products__item-foot {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.products.products_popular .product__item .products__item-foot .price_strike {
  line-height: 1;
  font-size: 11px;
  font-weight: bold;
  color: #292929;
  margin-bottom: 0;
  text-decoration: line-through;
}
.products.products_popular .product__item .products__item-foot .price_regular {
  font-size: 24px;
  line-height: 1;
  font-weight: bold;
  color: #292929;
  margin-bottom: 0;
}
.products.products_popular .product__item .products__item-foot .btn {
  padding-left: 20px;
  padding-right: 20px;
}
.product .flex-row {
  display: flex;
  justify-content: space-between;
}
.product .product-slider_left {
  flex: 0 0 190px;
  max-width: 190px;
  padding-right: 20px;
  height: 568px;
  overflow-x: auto;
  flex-direction: column;
  flex-wrap: wrap;
  flex-flow: row wrap;
  position: relative;
}
.product .product-slider_left .item {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 30px;
  border: 2px solid #e51b4f;
  height: 170px;
  display: flex;
  width: 170px;
  align-items: center;
  justify-content: center;
}
.product .product-slider_right {
  border-radius: 30px;
  background-color: #f8f8f8;
  padding: 50px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product .product__category {
  font-size: 15px;
  color: #e51b4f;
  font-weight: bold;
  margin-bottom: 20px;
}
.product .h1 {
  color: #292929;
  font-size: 36px;
  line-height: 1.3;
  font-weight: bold;
  margin-bottom: 20px;
}
.product .product__articul {
  color: #7c7c7c;
  font-size: 15px;
  line-height: 1;
  margin-bottom: 30px;
}
.product .product__content {
  color: #292929;
  font-size: 15px;
  line-height: 1.3;
  margin-bottom: 30px;
}
.product .product__price {
  margin-bottom: 30px;
}
.product .product__price .price_strike {
  margin-right: 30px;
  font-size: 22px;
  color: #c3c3c3;
  text-decoration: line-through;
  line-height: 1;
  display: inline-block;
  vertical-align: middle;
}
.product .product__price .price_regular {
  font-size: 36px;
  color: #292929;
  line-height: 1;
  display: inline-block;
  vertical-align: middle;
}
.product .add-to-cart-wrap {
  display: flex;
  align-items: center;
}
.product .add-to-cart-wrap .count {
  width: 175px;
  background-color: #e8e8e8;
  border-radius: 26px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.product .add-to-cart-wrap .count .count-minus,
.product .add-to-cart-wrap .count .count-plus {
  font-size: 18px;
  color: #292929;
  line-height: 1;
  font-weight: bold;
  cursor: pointer;
}
.product .add-to-cart-wrap .count .count-number {
  font-size: 18px;
  color: #292929;
  line-height: 1;
  flex: 0 0 50px;
  max-width: 50px;
  font-weight: bold;
  background: transparent;
  border: none;
  text-align: center;
}
.product .add-to-cart-wrap .btn {
  margin-left: 20px;
  padding: 17px 65px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.question {
  background-color: #e51b4f;
  padding: 45px 0;
}
.question .question__wrap {
  background-color: #fff;
  border-radius: 54px;
  padding: 80px 90px;
}
.question .h1 {
  font-size: 51px;
  line-height: 1;
  color: #292929;
  font-weight: bold;
  margin-bottom: 20px;
}
.question .text-sub {
  font-size: 15px;
  line-height: 1.3;
  color: #292929;
  font-weight: 300;
  margin-bottom: 40px;
}
.question .question__form {
  background-color: #e8e8e8;
  border-radius: 50px;
  padding: 50px 40px 30px 40px;
  position: relative;
}
.question .question__form .form-footer {
  position: absolute;
  bottom: -22px;
  left: 50%;
  margin-left: -25%;
}
.question .question__form .form-footer .btn-link {
  display: inline-block;
  vertical-align: middle;
  margin: 0 16px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.question .form-group {
  margin-bottom: 20px;
}
.question .form-control {
  height: auto;
  padding: 18px 40px 18px 40px;
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 20px;
  font-size: 15px;
  font-weight: 600;
  color: #292929;
  line-height: 1;
}
.question .form-control.form-control_textarea {
  height: 200px;
  resize: none;
}
.question .btn {
  padding: 20px 40px 19px 20px;
  width: 100%;
  font-weight: 600;
  text-align: center;
}
.question .btn .btn__ico {
  margin-left: 5px;
}
.question .btn .btn__ico path {
  transition: all 0.3s ease-in-out;
}
.question .btn:hover path,
.question .btn:active path {
  fill: #292929;
}
.question .text-footer {
  font-size: 15px;
  color: #8e8e8e;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  display: block;
  line-height: 1;
}
.contact {
  padding: 100px 0;
}
.contact .h1 {
  font-size: 48px;
  font-weight: bold;
  color: #292929;
  line-height: 1;
  margin-bottom: 25px;
}
.contact .text-head {
  font-size: 21px;
  color: #292929;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 10px;
}
.contact .text {
  font-size: 21px;
  color: #292929;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 12px;
}
.contact .text b {
  font-weight: bold;
}
.contact .text .text__link {
  text-decoration: underline;
  display: inline-block;
  vertical-align: middle;
  color: #292929;
}
.contact .text .text__link.text__link_red {
  color: #e51b4f;
}
.contact .text .text__link.text__link_no-decoration {
  text-decoration: none;
}
.contact .text .text__link:hover,
.contact .text .text__link:active {
  text-decoration: none;
}
.contact .text .text__link:hover.text__link_no-decoration,
.contact .text .text__link:active.text__link_no-decoration {
  text-decoration: underline;
}
.cart .cart-info-wrap {
  background-color: #f8f8f8;
  padding-top: 35px;
  padding-bottom: 35px;
}
.cart .cart-steps-wrap {
  padding-right: 70px;
}
.cart .cart-steps {
  position: relative;
  padding-bottom: 40px;
}
.cart .cart-steps h3 {
  font-weight: bold;
  font-size: 21px;
  color: #c3c3c3;
  line-height: 1;
}
.cart .cart-steps h3.active {
  color: #101c21;
}
.cart .cart-steps h3.h3-step-1 {
  text-align: left;
}
.cart .cart-steps h3.h3-step-2 {
  text-align: center;
}
.cart .cart-steps h3.h3-step-3 {
  text-align: right;
}
.cart .cart-steps .step-line {
  position: absolute;
  left: 15px;
  bottom: 25px;
  width: calc(100% - 30px);
  height: 1px;
  background-color: #c3c3c3;
}
.cart .cart-steps .step-line .line-round {
  margin-top: -6px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #c3c3c3;
  position: absolute;
}
.cart .cart-steps .step-line .line-round.active {
  background-color: #e51b4f;
}
.cart .cart-steps .step-line .line-round:nth-child(1) {
  left: 0;
}
.cart .cart-steps .step-line .line-round:nth-child(2) {
  left: 50%;
  margin-left: -6px;
}
.cart .cart-steps .step-line .line-round:nth-child(3) {
  right: 0;
}
.cart .cart-steps .step-line.step-line_order:after {
  content: '';
  display: block;
  left: 0;
  top: 0;
  height: 1px;
  background-color: #e51b4f;
  width: 50%;
}
.cart .cart-wrap {
  padding-top: 25px;
}
.cart .cart-wrap .table th {
  font-weight: bold;
  font-size: 15px;
  line-height: 1;
  color: #c3c3c3;
  border: none;
  padding: 10px 0;
  text-transform: uppercase;
}
.cart .cart-wrap .table th:nth-child(3),
.cart .cart-wrap .table th:nth-child(4) {
  text-align: center;
}
.cart .cart-wrap .table td {
  border: none;
  vertical-align: middle;
}
.cart .cart-wrap .table td:nth-child(3),
.cart .cart-wrap .table td:nth-child(4) {
  text-align: center;
}
.cart .cart-wrap .img-thumbnail {
  border: none;
  background: none;
  max-width: 100px;
  height: auto;
}
.cart .cart-wrap .cart__title,
.cart .cart-wrap .cart__price {
  display: block;
  font-size: 15px;
  color: #292929;
  line-height: 1;
  margin-bottom: 10px;
}
.cart .cart-wrap .cart__price {
  font-weight: bold;
}
.cart .cart-wrap .btn-remove {
  padding: 0;
  color: #e51b4f;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 0;
}
.cart .cart-wrap .product-price-total {
  font-weight: bold;
  font-size: 15px;
  color: #292929;
  line-height: 1;
}
.cart .add-to-cart-wrap {
  margin: 0 auto;
  display: flex;
  width: 125px;
  align-items: center;
}
.cart .add-to-cart-wrap .count {
  width: 125px;
  background-color: #e8e8e8;
  border-radius: 26px;
  height: 31px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.cart .add-to-cart-wrap .count .count-minus,
.cart .add-to-cart-wrap .count .count-plus {
  font-size: 15px;
  color: #292929;
  line-height: 1;
  font-weight: bold;
  cursor: pointer;
}
.cart .add-to-cart-wrap .count .count-number {
  font-size: 15px;
  color: #292929;
  line-height: 1;
  flex: 0 0 40px;
  max-width: 40px;
  font-weight: bold;
  background: transparent;
  border: none;
  text-align: center;
}
.cart .table-cart-footer {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
.cart .table-cart-footer .btn-link {
  font-size: 15px;
  color: #1a6ad8;
}
.cart .table-cart-footer .btn-link .btn__ico {
  margin-right: 5px;
  width: 19px;
  display: inline-block;
  vertical-align: middle;
}
.cart .table-cart-footer .btn-primary {
  font-size: 15px;
  font-weight: 400;
  padding: 18px 36px;
}
.cart .table-cart-footer .btn-primary .btn__ico {
  margin-left: 5px;
  width: 19px;
  display: inline-block;
  vertical-align: middle;
}
.cart .cart-info {
  border-top: 1px solid #e51b4f;
}
.cart .cart-info .flex {
  display: flex;
}
.cart .cart-info .form-switch {
  margin-bottom: 0;
}
.cart .cart-info .cart-item {
  border-bottom: 1px solid #c3c3c3;
  padding: 30px 0 10px 0;
  font-size: 15px;
  color: #292929;
  font-weight: bold;
}
.cart .cart-conf {
  padding-top: 20px;
}
.cart .cart-conf .conf-link {
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  color: #919191;
  font-weight: bold;
}
.cart .cart-conf .conf-link a {
  text-decoration: underline;
  color: #1a6ad8;
}
.cart .cart-conf .conf-link a:hover,
.cart .cart-conf .conf-link a:active {
  text-decoration: none;
}
.cart .cart-promocode {
  position: relative;
  margin-top: 70px;
}
.cart .cart-promocode .h4 {
  font-size: 21px;
  font-weight: bold;
  color: #292929;
  line-height: 1;
  margin-bottom: 20px;
}
.cart .cart-promocode .promocode {
  width: 370px;
  left: -50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 20px 30px;
  border-radius: 12px;
  background-color: #e51b4f;
  box-shadow: 13px 30px 15px rgba(0,0,0,0.141);
}
.cart .cart-promocode .promocode .promocode-input {
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: #fff;
  border-radius: 5px;
  border: none;
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  color: #292929;
  outline: none !important;
}
.cart .cart-promocode .promocode-click {
  position: absolute;
  top: 50%;
  right: -70px;
  margin-top: -20px;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: #2195de;
  line-height: 40px;
  text-align: center;
}
.cart .cart-promocode .promocode-click img {
  display: inline-block;
  vertical-align: middle;
  width: 12px;
  height: auto;
}
.cart .cart-promocode .promocode-text {
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 15px;
  color: #919191;
  line-height: 1;
  font-weight: bold;
}
.cart .cart-promocode .promocode-link {
  color: #e51b4f;
  text-decoration: underline;
}
.cart .cart-promocode .promocode-link:hover {
  text-decoration: none;
}
.order-wrap {
  margin-top: 20px;
}
.order-wrap .text-head {
  font-size: 15px;
  color: #292929;
  line-height: 1;
  margin-bottom: 12px;
  font-weight: bold;
}
.order-wrap .form-control {
  font-weight: bold;
  font-size: 15px;
  padding: 15px 15px 15px 40px;
  height: auto;
}
.order-wrap .form-control[name="comment"] {
  margin-bottom: 40px;
  height: 100px;
}
.order-wrap .custom-radio {
  display: inline-block;
  vertical-align: middle;
  margin-right: 50px;
}
.order-info .text-head {
  color: #292929;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 35px;
}
.order-info .table {
  border-bottom: 1px solid #c3c3c3;
}
.order-info .table td {
  border-top: none;
}
.order-info .table .img-thumbnail {
  width: 45px;
  height: auto;
  background: none;
  border: none;
}
.order-info .table .order-info__title {
  font-size: 14px;
  color: #292929;
  font-weight: bold;
  line-height: 1;
}
.order-info .table .order-info__title span {
  display: inline-block;
  vertical-align: middle;
}
.order-info .table .order-info__title span:last-of-type {
  width: 85%;
}
.order-info .table .order-info__title .grey {
  color: #8b8b8b;
}
.order-info .table .order-info__total {
  font-size: 1 4px;
  color: #8b8b8b;
  font-weight: bold;
}
body {
  font-family: 'Mont';
  background-color: #fff !important;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}
.owl-theme .owl-dots .owl-dot {
  outline: none !important;
}
.owl-theme .owl-dots .owl-dot span {
  border: 1px solid #e51b4f !important;
  background: transparent !important;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #e51b4f !important;
}
@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1400px;
  }
}
@media (max-width: 1200px) {
  .header .navbar .navbar-brand {
    width: 80px;
    margin-right: 15px;
  }
  .header .navbar .navbar-nav .nav-item .nav-link {
    font-weight: bold;
    padding: 0;
    font-size: 11px;
  }
  .header .form-inline .form-control {
    max-width: 160px;
    font-size: 12px;
  }
  .header .form-inline .btn-search {
    width: 18px;
    top: 16px;
    right: 8px;
  }
  .slider .slider-wrap .btn:first-of-type {
    margin-right: 0;
    margin-bottom: 15px;
  }
  .cart .cart-steps h3 {
    font-size: 15px;
  }
  .cart .cart-promocode .promocode {
    width: 240px;
  }
  .cart .cart-promocode .promocode .promocode-input {
    width: 25px;
    height: 25px;
    line-height: 25px;
    font-size: 14px;
  }
  .footer .footer__item .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media only screen and (max-width: 1024px) {
  .header .navbar .navbar-nav,
  .navbar-collapse {
    text-align: center;
  }
  .header .navbar .navbar-nav .nav-item,
  .header .form-inline {
    display: inline-block;
  }
  .header .form-inline,
  .header .form-inline .form-control {
    max-width: 300px;
    width: 300px;
  }
  .header .navbar .navbar-nav .nav-item .nav-link {
    display: inline-block;
    margin-bottom: 15px;
    position: relative;
  }
  .header .navbar .navbar-nav .nav-item:not(.dropdown) .nav-link:after {
    left: 50%;
    margin-left: -11.5px;
  }
  .categories {
    padding-bottom: 40px;
  }
  .categories .categories__item {
    height: 200px;
  }
  .categories .categories__item .text-head {
    font-size: 18px;
  }
  .categories .categories__item .item__footer {
    padding: 0 15px 30px 15px;
  }
  .col-sm-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .products .products__item .products__item-head {
    height: 180px;
  }
  .products .products__item .products__item-body .text-head,
  .products .products__item .products__item-foot .price_regular {
    font-size: 18px;
  }
  .products .products__item .products__item-body .text,
  .products .products__item .products__item-body .text-category {
    font-size: 12px;
  }
  .products .products__item .btn {
    padding: 13px 13px;
    font-size: 12px;
  }
  .banner .h2 {
    margin-top: 25px;
    font-size: 40px;
    line-height: 44px;
  }
  .banner .banner__img {
    position: relative;
    margin-top: 0;
    max-width: 100%;
  }
  .banner .h3 {
    font-size: 40px;
  }
  .banner .banner__promo,
  .banner .banner__promo a {
    font-size: 18px;
    line-height: 24px;
  }
  .news .col-sm-4,
  .products .col-sm-4 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .news .news__item-head {
    height: 220px;
  }
  .cart .cart-row {
    margin: 0;
    width: 100%;
    display: table;
  }
  .cart .col-md-8 {
    display: block;
    padding-right: 15px;
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 40px;
  }
  .cart .col-md-4 {
    display: table-header-group;
  }
  .cart .cart-promocode {
    margin-top: 30px;
  }
  .cart .cart-promocode .h4 {
    text-align: center;
  }
  .cart .cart-promocode .promocode {
    margin: 0 auto;
    left: auto;
  }
  .cart .cart-promocode .promocode-text {
    margin-top: 30px;
    text-align: center;
  }
  .cart .cart-info {
    padding: 30px 20px;
  }
  .cart .cart-order-row {
    justify-content: center;
  }
  .cart .cart-order-row .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .footer .footer__item .row {
    justify-content: center;
  }
  .footer .footer__item-center {
    display: none;
  }
  .footer .footer__item {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .footer .text-head,
  .footer .footer__link,
  .col-sm-6-last {
    text-align: center;
  }
  .footer .footer__item .col-sm-6-last {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  .slider .slider-wrap .img-slider {
    margin-top: 30px;
  }
  .news .col-sm-4,
  .products .col-sm-4 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .cart .table-cart-footer .btn-primary {
    padding: 18px 15px;
    font-size: 12px;
  }
  .cart .cart-wrap {
    margin-bottom: 50px;
  }
  .cart .cart-order-row .col-sm-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .cart .order-wrap .col {
    margin-bottom: 20px;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .footer {
    padding-top: 0;
  }
  .footer .footer__link {
    font-size: 12px;
  }
  .footer .footer__item .col-sm-6 {
    margin-bottom: 30px;
  }
}
