.btn
	font-size 14px
	line-height 1
	letter-spacing 0px
	color #292929
	border-radius 43px
	padding 13px 36px
	transition all 0.3s ease-in-out
	&.btn-red,
	&.btn-primary
		background-color #E51B4F
		border 2px #E51B4F solid
		color #ffffff
		&:hover, &:active
			background-color transparent
			color #292929
	&.btn-white
		background-color #ffffff
		border 2px #ffffff solid
		color #E51B4F
		&:hover, &:active
			background-color transparent
			color #ffffff
	&.btn-red_outline
		background-color transparent
		border 2px #E51B4F solid
		color #292929
		&:hover, &:active
			background-color #E51B4F
			color #ffffff