.order-wrap
	margin-top 20px
	.text-head
		font-size 15px
		color #292929
		line-height 1
		margin-bottom 12px
		font-weight bold
	.form-control
		font-weight bold
		font-size 15px
		padding 15px 15px 15px 40px
		height auto
		&[name="comment"]
			margin-bottom 40px
			height 100px
	.custom-radio
		display inline-block
		vertical-align middle
		margin-right 50px
.order-info
	.text-head
		color #292929
		font-size 21px
		font-weight bold
		line-height 1
		margin-bottom 35px
	.table
		border-bottom 1px solid #C3C3C3
		td
			border-top none
		.img-thumbnail
			width 45px
			height auto
			background none
			border none
		.order-info__title
			font-size 14px
			color #292929
			font-weight bold
			line-height 1
			span
				display inline-block
				vertical-align middle
				&:last-of-type
					width 85%
			.grey
				color #8B8B8B
		.order-info__total
			font-size 1	4px
			color #8B8B8B
			font-weight bold